<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="description" content="Making music together via video call can be frustrating. Use Remotronome to make sure everyone is on the same beat." />
    <meta property="og:image" content="/images/splashicon-300dpi.png">
    <link rel="icon" type="image/svg+xml" href="/images/icon.svg">
    <link rel='stylesheet' href='/stylesheets/session.css' />
    <script type="text/javascript" src="/javascripts/clientsession.js"></script>
    <script type="text/javascript" src="/javascripts/sharebuttons.js"></script>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
</head>
<body>
    <div id="header">
        <div id="portraitHeader">
            <a href="javascript:window.location.href=window.location.href">
                <img id="splashicon" class="portraitHeaderEl" src="/images/icon-transparent.svg" />
            </a>
            <div class="portraitHeaderEl" id="connectionDisplay">
                <div id="connectionDisplayRowOneDiv">
                    <div id="amountSyncedDiv" class="connectionRowOne">
                        <div id="amountSyncedDivDiv" class="connectionRowOneOne">
                            <p class="connectionDisplayEl" id="amountSynced"><%= synchronizedNumber %></p>
                        </div>
                    </div>
                    <div id="slashDiv" class="connectionRowOne">
                        <div id="slashDivDiv" class="connectionRowOneOne">
                            <p class="connectionDisplayEl" id="slash">/</p>
                        </div>
                    </div>
                    <div id="amountConnectedDiv" class="connectionRowOne">
                        <div id="amountConnectedDivDiv" class="connectionRowOneOne">
                            <p class="connectionDisplayEl" id="amountConnected"><%= connectedNumber %></p>
                        </div>
                    </div>
                </div>
                <div id="amountSyncedTextDiv" class="connectionRowTwo">
                    <p class="connectionDisplayElText" id="textSynced">SYNCED</p>
                </div>
                <div id="amountConnectedTextDiv" class="connectionRowTwo">
                    <p class="connectionDisplayElText" id="textConnected">CONNECTED</p>
                </div>
            </div>
            <div class="portraitHeaderEl" id="exitButton" onclick=exit()>
                <div id="exitIconDiv">
                    <img id="exitIcon" src="/images/exitred.svg" />
                </div>
                <div id="exitTextDiv">
                    <p id="exitText">EXIT</p>
                </div>
            </div>
        </div>
        <div id="share">
            <p id="lonely">It's lonely in here! Let's invite some fellow musicians:</p>
            <div id="shareInvite" onclick=systemShare()>
                <img id="shareIcon" src="/images/share.svg" />
                <img id="sharetext" src="/images/sharesessiontext.svg"/>
            </div>
            <a id="whatsAppShare" href="<%= "https://wa.me/?text=Please join me for a remote jam session at " + shareURL %>">
               <img id="whatsAppIcon" src="/images/whatsapp.svg" id="whatsapp" />
            </a>
            <div id="skype-share" class='skype-share' data-href='' data-lang='' data-text="Please join me for a remote jam session at" data-style='' ><img id="skypeLogo" src="/images/skypelogo.svg" /></div>
            <div id="clipboard" onclick=copyToClipboard() >
                <img id="clipboardIcon" src="/images/clipboard.svg" />
            </div>
            <div id="systemShare" onclick=systemShare() >
                <img id="systemShareIcon" src="/images/systemshare.svg" />
            </div>
        </div>
    </div>
    <div id="clipboardPopUp">
        <span id="clipboardPopUpText">Session link copied!</span>
    </div>
    <div id="metronome-area" class="metronome-area">
        <div id="metronome-case">
            <%- include("../public/images/metronome-plain.svg"); %>
            <!-- For later, to animate the weight nicely, not necessary right now, display: none in session.css -->
        </div>
    </div>
    <div id="heartDiv">
        <p id="heart">made with 🎵 in the hague</p>
    </div>
    <p id="missingLandScape">Landscape mode not supported yet, working on it. Hang tight!</p>
</body>
</html>
